<div class="form-group">
    <label for="EmailAddress">E-postadresse</label>
    <input type="email" name="EmailAddress" id="EmailAddress" class="form-control" required>
</div>
<div class="form-group">
    <label for="Forename">Fornavn</label>
    <input type="text" name="Forename" id="Forename" class="form-control" required>
</div>
<div class="form-group">
    <label for="Surname">Etternavn</label>
    <input type="text" name="Surname" id="Surname" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Logg inn</button>