<div class="form-floating">
    <input type="email" name="EmailAddress" id="EmailAddress" class="form-control" placeholder="Din e-postadresse" required>
    <label for="EmailAddress">E-postadresse</label>
</div>
<br />
<span class="FormSubmit">
<button type="submit" class="btn btn-sm btn-primary" id="LoginButton">Fortsett</button>
</span>